<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('任务改派')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="dept-form">
                <input id="search_status" type="hidden" value="-1" name="status">
                <div class="select-list">
                    <ul class="row">
                        <li class="col-md-3">
                            报&nbsp;&nbsp;案&nbsp;&nbsp;号：<input type="text" name="claimNotificationNo"/>
                            <input type="text" name="reviewStatusInit" value="2,4" style="display: none"/>
                            <input type="text" name="isYourSelf" value="false" style="display: none"/>
                        </li>
                        <li  class="col-md-3">
                            被保险人：<input type="text" name="theInsuredName"/>
                        </li>
                        <li>
                            理赔机构：
                            <select id="companyAgencyIdFirst" name="companyAgencyIdFirst"
                                    th:with="type=${@ce_agency.findAgencyByLevel(1)}"
                                    onchange="changeCompanyAgencyId()">
                                <option value="-1">--请选择--</option>
                                <option th:each="dict : ${type}" th:text="${dict.agencyName}" th:value="${dict.id}"></option>
                            </select>
                            <select id="companyAgencyId" name="companyAgencyId">
                                <option value="-1">--请选择--</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="row">
                        <li class="col-md-3">
                            任务状态：
                            <select name="reviewStatus">
                                <option value="">--请选择--</option>
                                <option value="2">初核中</option>
                                <option value="4">终核中</option>
                            </select>
                        </li>
                        <li class="col-md-3">
                            任务类型：
                            <select name="taskTypeFirst" id="taskTypeFirst" th:with="type=${@ce_dict.getParents('taskType')}"
                                    onchange="changeTaskTypeFirst()" style="width: 100px;">
                                <option value="">--请选择--</option>
                                <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.code}" th:target="${dict.id}"></option>
                            </select>
                            <select name="taskTypeSecond" id="taskTypeSecond"  style="width: 100px;">
                                <option value="">--请选择--</option>
                            </select>
                        </li>
                        <li style="margin-left: 100px;">
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="onSearchClick()"><i class="fa fa-search"></i>&nbsp;查询</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="reset()" style="margin-left: 50px;"><i class="fa fa-refresh"></i>&nbsp;清空</a>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="reassignment()" style="margin-left: 50px;"><i class="fa fa-refresh"></i>&nbsp;改派</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <span class="group-title">查询结果</span>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('injured:taskreform:edit')}]];
		var prefix = ctx + "compensat"

        var datasTaskStatus = [[${@ce_dict.getType('taskStatus')}]];
        var datasTaskType = [[${@ce_dict.getType('taskType')}]];

        function reassignment(){
            var options= $("#bootstrap-table").bootstrapTable('getSelections');
            if(options == null || options.length <= 0){
                $.modal.alertError("请至少选择一行进行操作!");
                return;
            }
            var ids = '';
            $.each(options,function(i,item){
                if(ids != ""){
                   ids = ids+","+item.id;
                }else{
                    ids =item.id;
                }
            });
            var options = {
                title: '任务改派',
                width: "460",
                url: "/task/reassignment?ids="+ids,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function reset(){
            $("#dept-form")[0].reset();
            $('#companyAgencyId').html('');
            $('#companyAgencyId').append("<option value = "+-1+">--请选择--</option>");
        }


        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            var ids = body.find('#ids').val();
            var userNo =body.find("#userNoAndName").val();
            if(userNo.indexOf("_") >= 0){
                userNo = userNo.substring(0,userNo.indexOf("_"));
            }else {
                $.modal.alertError("请正确输入接收人");
                return;
            }
            if(userNo == null || ids == null){
                $.modal.alertError("请正确输入接收人");
                return;
            }
            $.modal.loading("正在改派任务,请稍后...");
            $.ajax({
                type : "POST",
                url : "/task/reassignment/submit",
                dataType : "JSON",
                data : {"fastInfoIdsStr":ids,"userNo":userNo},
                success : function(data)
                {
                    $.modal.closeLoading();
                    if(data != null && data != ''){
                        if(data.code == '0000'){
                            $.modal.alertSuccess(data.data);
                            setTimeout(function(){ $.modal.closeAll();
                                $.table.search()}
                                , 3 * 1000 );
                        }else{
                            $.modal.alertError(data.msg);
                        }
                    }
                },error:function(){
                    $.modal.closeLoading();
                    $.modal.alertError("获取数据失败");
                    $.modal.closeAll();
                    $.table.search()
                }
            });

        }

		function onSearchClick(){
			document.getElementById("search_status").value = 1;
			$.table.search()
		}

        function changeCompanyAgencyId() {
            var parentId = $('#companyAgencyIdFirst').val();
            if(parentId == '' || parentId == null){
                return;
            }
            if(parentId == -1){
                $('#companyAgencyId').html('');
                $('#companyAgencyId').append("<option value = "+-1+">--请选择--</option>");
                return;
            }
            // 获取子机构
            $.ajax({
                type : "GET",
                url : "/system/agency/findAgencyByPid",
                dataType : "JSON",
                data : {"pid":parentId},
                success : function(datas)
                {
                    $('#companyAgencyId').html('');
                    $('#companyAgencyId').append("<option value = "+-1+">--请选择--</option>");
                    for (var i = 0; i < datas.length; i++) {
                        $('#companyAgencyId').append("<option value = "+datas[i].id+">"+datas[i].agencyName+"</option>");
                    }

                },error:function(){
                    $.modal.alertError("获取数据失败");
                }
            });
        }



        function changeTaskTypeFirst() {
            var parentId = $('#taskTypeFirst').find("option:selected").attr("target");
            if(parentId == '' || parentId == null){
                $("#taskTypeSecond").hide();
                return;
            }
            // 获取子机构
            $.ajax({
                type : "GET",
                url : "/cedict/findAgencyByParentId",
                dataType : "JSON",
                data : {"parentId":parentId},
                success : function(datas)
                {
                    if(datas != null && datas != ''){
                        $("#taskTypeSecond").show();
                        $('#taskTypeSecond').html('');
                        $('#taskTypeSecond').append("<option value = ''>所有</option>");
                        for (var i = 0; i < datas.length; i++) {
                            $('#taskTypeSecond').append("<option value = "+datas[i].code+">"+datas[i].name+"</option>");
                        }
                    }else{
                        $("#taskTypeSecond").hide();
                    }

                },error:function(){
                    $.modal.alertError("获取数据失败");
                }
            });
        }

		$(function() {

		    var options = {
		        url: prefix + "/list",
                detailUrl: prefix + "/detail/{id}/{htmlName}",
                updateUrl:"/task/reassignment/{id}",
		        modalName: "任务改派",
                sortName: "create_time desc",
                escape: true,
                showPageGo: true,
		        columns: [
                {
                    checkbox:true
                },
                 {
                	field: 'claimNotificationNo',
 		            title: '报案号',
		        },
                {
                    field: 'id',
                    title: 'id',
                    visible:false
                },
                {
                    field: 'taskTypeFirst',
                    title: '任务类型',
                    align: "left",
                    formatter: function(value, item, index) {
                        return $.table.selectCeDictLabel(datasTaskType,value);
                    }

                },
		        {
		        	field: 'theInsuredName',
		            title: '被保险人',
		            align: "left"
		        },
                {
                    field: 'reportDate',
                    title: '报案时间',
                    align: "left"
                },
                {
                    field: 'humanName',
                    title: '伤者姓名',
                    align: "left"
                },
                {
                    field: 'lossTime',
                    title: '出险时间',
                    align: "left"
                },
                {
                    field: 'companyAgencyName',
                    title: '理赔机构',
                    align: "left"
                },
                {
                    field: 'reviewerName',
                    title: '处理人',
                    align: "left",
                    formatter: function(value, row, index) {
                        if(row.taskStatus != null && row.taskStatus != '' && row.taskStatus != 8){
                            return row.damageName;
                        }
                        return row.reviewerName;
                    }
                },
                {
                    field: 'reviewStatus',
                    title: '任务状态',
                    align: "left",
                    formatter: function(value, row, index) {
                        if(row.taskStatus != null && row.taskStatus != '' && row.taskStatus != 8){
                            return $.table.selectCeDictLabel(datasTaskStatus,row.taskStatus);
                        }
                        return $.table.selectCeDictLabel(datasTaskStatus,value);
                    }
                },
                {
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            url = $.table._option.detailUrl;
                            url = url.replace("{id}", row.id);
                            url = url.replace("{htmlName}", 'taskreform');
                            actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="$.operate.openTab(\'审批信息\', \'' + url + '\')"><i class="fa fa-search"></i>详细</a>');
                            return actions.join('');
                        }
                    }
		        ]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>